@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(236, 241, 250);
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.title h1 {
  color: #000;
  display: inline-block;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 10px;
  position: relative;
}

.title h1::before {
  content: "";
  left: 0;
  right: 30%;
  position: absolute;
  height: 2px;
  background-color: #5f88e0;
  bottom: -2px;
}

.title p {
  font-size: 12px;
  color: #838383;
  font-weight: 400;
  letter-spacing: 2px;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.align-items-center {
  align-items: center;
}