@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(236, 241, 250);
}
* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
