.services {
  background-color: #fff;
  padding: 100px 0px 70px;
}

.services .container .row .title h1::before {
  left: 30%;
}
.service-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box {
  background-color: rgb(236, 241, 250);
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin-bottom: 30px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  position: relative;
}
.box::before {
  content: "";
  height: 2px;
  background-color: rgb(93, 143, 249);
  position: absolute;
  bottom: 0px;
  width: 50px;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.5s ease;
}
.box:hover::before {
  width: 100%;
}

.box .icon {
  height: 60px;
  width: 60px;
  background-color: rgb(93, 143, 249);
  margin: 15px auto 20px;
  border-radius: 50%;
}
.box .icon .fa {
  font-size: 25px;
  color: #fff;
  line-height: 60px;
}
.box h5 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin: 0;
}
.box p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #838383;
  margin: 5px 0 10px;
}
