.skills {
  padding: 100px 15px;
  background-color: #fff;
}

.skill-content {
  flex: 0 0 60%;
  max-width: 60%;
}

.skills-img {
  flex: 0 0 50%;
  max-width: 40%;
}

.skills-img img {
  width: 100%;
  display: block;
}

.skills-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  flex: 0 0 100%;
  margin-bottom: 30px;
}


.fa-ul li {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 15px 0;
}