.skills {
  padding: 100px 15px;
  background-color: #fff;
}

.skill-content {
  flex: 0 0 50%;
  max-width: 50%;
}

.skills-img {
  flex: 0 0 50%;
  max-width: 50%;
}

.skills-img img {
  width: 100%;
  display: block;
}

.skills-box {
  flex: 0 0 100%;
}

.skills-container {
  width: 100%;
  padding-right: 60px;
}

@keyframes load {
  from {
    width: 0%
  }
}

@-webkit-keyframes load {
  from {
    width: 0%
  }
}

@-moz-keyframes load {
  from {
    width: 0%
  }
}

@-o-keyframes load {
  from {
    width: 0%
  }
}

.bar {
  background-color: #EEE;
  padding: 0px;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #FFF;
}

.bar::before {
  content: attr(data-skill);
  background-color: #5d7cd1;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before {
  background-color: #ffcc33;
}

.bar.back::before {
  background-color: #a6cfe3;
}

.bar.learning::before {
  width: calc(20% - 10px);
}

.bar.basic::before {
  width: calc(40% - 10px);
}

.bar.intermediate::before {
  width: calc(60% - 10px);
}

.bar.advanced::before {
  width: calc(80% - 10px);
}

.bar.expert::before {
  width: calc(100% - 10px);
}